.headerP
{
    align-items: center;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 80px;
    height: min-content;
    justify-content: flex-start;
    overflow: hidden;
    padding-top: 120px;
    position: relative;
    width: 100%;
}
.Prod1
{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;
    height: min-content;
    justify-content: center;
    max-width: 1200px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 90%;
}
.P1Head1 p
{
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 1em;
    color: white;
    text-align: center;
}
.P1content p
{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1.5rem;
    color: rgb(118, 117, 117);
}
.P1Cards
{
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    height: min-content;
    justify-content: flex-start;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}
.card
{
    background-color: rgb(33, 33, 33);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    opacity: 1;
    border-style: solid;
    border-color: (255, 255, 255, 0.03);
    border-width: 1px;
    padding: 90px 10px;
}
.hh h4
{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -.5px;
    line-height: 1.3em;
    color: rgb(253, 242, 236);
    margin-bottom: 40px;
    text-align: center;
}
.hh p
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.5em;
    color: rgb(118, 117, 117);
    text-align: center;
}
.Prod2
{
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    left: calc(50.00000000000002% - 1319px / 2);
    overflow: hidden;
    padding: 0;
    width: 1319px;
    z-index: 0;
}
.P2Head p
{
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1em;
    text-align: center;
    color: rgb(253, 242, 236);
}
.P2content p
{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -.5px;
    line-height: 1.5em;
    text-align: center;
    color: rgb(118, 117, 117);
}
.P2image
{
    height: 250px;
    
}